<div class="card mb-3 lost-card">
  <div class="row g-0">
    <div class="col-md-4 p-3">
      <img src="{{ lostPet.pet.petImage }}" class="pet-img" alt="pet-img" />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title text-center">{{ lostPet.pet.petName }}</h5>
        <ul class="list-group list-group-flush card-info">
          <li class="list-group-item">
            <b>Info:</b>
            <p>{{ lostPet.lostPetAdditionalInfo }}</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
