<footer class="text-center text-lg-start footer">
  <div class="container p-4">
    <div class="row">
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">{{ "subtitle.aboutus" | translate }}</h5>
        <p>
          {{ "footer.description" | translate }}
        </p>

        <app-pets-found-counter> </app-pets-found-counter>
      </div>

      <div class="col-lg-3 col-md-6 mb-4 mb-md-0 link-list">
        <h5 class="text-uppercase">{{ "footer.availableon" | translate }}</h5>
        <i class="fab fa-google-play"></i>
        <a href="#!">{{ "footer.playstore" | translate }}</a>
      </div>

      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-0">
          {{ "footer.colaborate" | translate }}
        </h5>
        <ul class="list-unstyled link-list">
          <li>
            <i class="fab fa-github"></i>
            <a href="https://github.com/Mikadifo/ZenpletWeb">{{
              "footer.zenpletapi" | translate
            }}</a>
          </li>
          <li>
            <i class="fab fa-github"></i>
            <a href="https://github.com/Mikadifo/ZenPlet">
              {{ "footer.zenpletandroidapp" | translate }}</a
            >
          </li>
          <li>
            <i class="fab fa-github"></i>
            <a href="https://github.com/Mikadifo/ZenPlet-web-client">
              {{ "footer.zenPletwebapp" | translate }}</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="text-center p-3 copyright">
    <i class="fas fa-dog"></i>
    © 2021 Copyright: {{ "footer.createdby" | translate }}
    <a href="#"><b>MPF </b></a>
    <i class="fas fa-cat"></i>
  </div>
</footer>
