<div class="d-flex align-items-center justify-content-center">
  <div class="access-container justify-content-center mt-5 mb-5">


    <!--[>menu<]-->
    <!--<div class="root container">-->
      <!--<div class="row justify-content-center">-->
	<!--<img src="../../assets/full_logo.svg" alt="zenplet logo" class="logo">-->
      <!--</div>-->

      <!--<div class="row text-start mt-5">-->
	<!--<h5>Welcome!</h5>-->
	<!--<p>Before start using the app you need to have an account.</p>-->
      <!--</div>-->

      <!--<div class="row mt-4">-->
	<!--<div class="mx-auto btn-group-vertical gap-3">-->
	  <!--<app-primary-button [ngStyle]="{'width': 100+'%'}" text="Sign Up" placeholder="Sign Up"></app-primary-button>-->
	  <!--<app-primary-button [ngStyle]="{'width': 100+'%'}" text="Log In" placeholder="Log In"></app-primary-button>-->
	<!--</div>-->
	<!--<p class="text-end">Sign in with <b>Facebook</b> or <b>Google</b></p>-->
      <!--</div>-->
    <!--</div>-->

    <!--[>logIn<]-->
    <!--<div class="root container">-->
      <!--<div class="row justify-content-center">-->
	<!--<img src="../../assets/full_logo.svg" alt="zenplet logo" class="logo">-->
      <!--</div>-->

      <!--<div class="row mt-5">-->
	<!--<form>-->
	  <!--<div class="mx-auto">-->
	    <!--<div class="mb-3">-->
	      <!--<app-input type="text" placeholder="Username or Email" [ngStyle]="{'width': 100+'%'}"></app-input>-->
	    <!--</div>-->
	    <!--<div class="mb-5">-->
	      <!--<app-input type="password" placeholder="Password" [ngStyle]="{'width': 100+'%'}" aria-describedby="passwordHelp"></app-input>-->
	      <!--<div id="passwordHelp" class="form-text text-end">-->
		<!--<a href="#" class="forgot-pass">Forgot your password?</a>-->
	      <!--</div>-->
	    <!--</div>-->
	    <!--<div class="mb-1">-->
	      <!--<app-primary-button [ngStyle]="{'width': 100+'%'}" text="Log In" placeholder="Log In"></app-primary-button>-->
	    <!--</div>-->
	    <!--<p class="text-end no-account-yet">Don't have an account? <a href="#">Sign Up</a></p>-->
	  <!--</div>-->
	<!--</form>-->
      <!--</div>-->
    <!--</div>-->




    <!--signup-->
    <!--<div class="root container">-->
      <!--<div class="row justify-content-center">-->
	<!--<img src="../../assets/full_logo.svg" alt="zenplet logo" class="logo">-->
      <!--</div>-->

      <!--<div class="row mt-5">-->
	<!--<form>-->
	  <!--<div class="mx-auto">-->
	    <!--<div class="mb-3">-->
	      <!--<app-input type="text" placeholder="Username" [ngStyle]="{'width': 100+'%'}"></app-input>-->
	    <!--</div>-->
	    <!--<div class="mb-3">-->
	      <!--<app-input type="email" placeholder="Email" [ngStyle]="{'width': 100+'%'}"></app-input>-->
	    <!--</div>-->
	    <!--<div class="mb-5">-->
	      <!--<app-input type="password" placeholder="Password" [ngStyle]="{'width': 100+'%'}"></app-input>-->
	    <!--</div>-->
	    <!--<div class="mb-1">-->
	      <!--<app-primary-button [ngStyle]="{'width': 100+'%'}" text="Sign Up" placeholder="Log In"></app-primary-button>-->
	    <!--</div>-->
	    <!--<p class="text-end no-account-yet">Already have an account? <a href="#">Log In</a></p>-->
	  <!--</div>-->
	<!--</form>-->
      <!--</div>-->
    <!--</div>-->



    <!--forgotpass-->
    <!--<div class="root container">-->
      <!--<div class="row justify-content-center">-->
	<!--<img src="../../assets/full_logo.svg" alt="zenplet logo" class="logo mb-5">-->
      <!--</div>-->

      <!--<div class="row mt-5">-->
	<!--<form>-->
	  <!--<div class="mx-auto">-->
	    <!--<div class="mb-3">-->
	      <!--<app-input type="text" placeholder="Username or Email" [ngStyle]="{'width': 100+'%'}"></app-input>-->
	    <!--</div>-->
	    <!--<div class="mb-5">-->
	      <!--<app-primary-button [ngStyle]="{'width': 100+'%'}" text="Search" placeholder="Seach"></app-primary-button>-->
	    <!--</div>-->
	  <!--</div>-->
	<!--</form>-->
      <!--</div>-->
    <!--</div>-->
    <!--cuando encuentre se envia un correo y si acepta recupera la contrsena-->


  </div>
</div>

