<div class="d-flex align-items-center justify-content-center">
  <div class="access-container justify-content-center mt-5 mb-5">
    <div class="root container" *ngIf="page == 'menu'">
      <div class="row justify-content-center">
        <img src="../../assets/full_logo.svg" alt="zenplet logo" class="logo" />
      </div>

      <div class="row text-start mt-5">
        <h5>{{ "text.welcome" | translate }}</h5>
        <p>
          {{
            "text.beforeaccount"
              | translate
          }}
        </p>
        <app-pets-found-counter> </app-pets-found-counter>
      </div>

      <div class="row mt-4 mb-4">
        <div class="mx-auto btn-group-vertical gap-3">
          <app-button
            [ngStyle]="{ width: 100 + '%' }"
            text="{{ 'title.siginup' | translate }}"
            (onClick)="signUpNav()"
          ></app-button>
          <app-button
            [ngStyle]="{ width: 100 + '%' }"
            text="{{ 'title.login' | translate }}"
            (onClick)="logInNav()"
          ></app-button>
        </div>
        <p class="text-end">
          {{ "text.signinwith" | translate }} <b>Facebook</b>
          {{ "text.or" | translate }} <b>Google</b>
        </p>
      </div>
    </div>

    <div class="root container" *ngIf="page == 'login'">
      <div class="row justify-content-center">
        <img src="../../assets/full_logo.svg" alt="zenplet logo" class="logo" />
      </div>

      <div class="row mt-5">
        <form>
          <div class="mx-auto">
            <div class="mb-3">
              <app-input
                type="text"
                placeholder="{{ 'subtitle.usernameoremail' | translate }}"
                [ngStyle]="{ width: 100 + '%' }"
                #login
              ></app-input>
            </div>
            <div class="mb-5">
              <app-input
                type="password"
                placeholder="{{ 'placeholder.password' | translate }}"
                [ngStyle]="{ width: 100 + '%' }"
                aria-describedby="passwordHelp"
                #password
              ></app-input>
              <div id="passwordHelp" class="form-text text-end">
                <a class="forgot-pass" (click)="forgotNav()">{{
                  "text.forgotpassword" | translate
                }}</a>
              </div>
            </div>
            <div class="mb-1">
              <app-button
                [ngStyle]="{ width: 100 + '%' }"
                text="{{ 'title.login' | translate }}"
                (onClick)="loginOwner(login.value, password.value)"
              ></app-button>
            </div>
            <p class="text-end no-account-yet">
              {{ "text.don'thaveaccount" | translate }}
              <a (click)="signUpNav()">{{ "title.siginup" | translate }}</a>
            </p>
          </div>
        </form>
      </div>
    </div>

    <div class="root container" *ngIf="page == 'signup'">
      <div class="row justify-content-center">
        <img src="../../assets/full_logo.svg" alt="zenplet logo" class="logo" />
      </div>

      <div class="row mt-5">
        <form>
          <div class="mx-auto">
            <div class="mb-3">
              <app-input
                (input)="validateUsername(username.value)"
                type="text"
                placeholder="{{ 'placeholder.username' | translate }}"
                [ngStyle]="{ width: 100 + '%' }"
                #username
              ></app-input>
              <span class="error" *ngIf="!usernameAcc">{{
                "validate.username"
                  | translate
              }}</span>
            </div>
            <div class="mb-3">
              <app-input
                (input)="validateEmail(email.value)"
                type="email"
                placeholder="{{ 'placeholder.email' | translate }}"
                [ngStyle]="{ width: 100 + '%' }"
                #email
              ></app-input>
              <span class="error" *ngIf="!emailAcc">{{
                "text.emailincorrect" | translate
              }}</span>
            </div>
            <div class="mb-3">
              <app-input
                (input)="validatePhone(phoneNumber.value)"
                type="tel"
                placeholder="{{ 'placeholder.phone' | translate }}"
                [ngStyle]="{ width: 100 + '%' }"
                #phoneNumber
              ></app-input>
              <span class="error" *ngIf="!phoneAcc">{{
                "validate.numbers" | translate
              }}</span>
            </div>
            <div class="mb-5">
              <app-input
                (input)="validatePassword(password.value)"
                type="password"
                placeholder="{{ 'placeholder.password' | translate }}"
                [ngStyle]="{ width: 100 + '%' }"
                #password
              ></app-input>
              <span class="error" *ngIf="!passwordAcc">{{
                "validate.password"
                  | translate
              }}</span>
            </div>
            <div class="mb-1">
              <app-button
                [ngStyle]="{ width: 100 + '%' }"
                text="{{ 'title.siginup' | translate }}"
                (onClick)="
                  signup(
                    username.value,
                    email.value,
                    password.value,
                    phoneNumber.value
                  )
                "
              ></app-button>
            </div>
            <p class="text-end no-account-yet">
              {{ "text.alreadyhaveaccount" | translate }}
              <a (click)="logInNav()">{{ "title.login" | translate }}</a>
            </p>
          </div>
        </form>
      </div>
    </div>

    <div class="root container" *ngIf="page == 'forgot'">
      <div class="row justify-content-center">
        <img
          src="../../assets/full_logo.svg"
          alt="zenplet logo"
          class="logo mb-5"
        />
      </div>

      <div class="row mt-5">
        <form>
          <div class="mx-auto">
            <div class="mb-3">
              <app-input
                type="text"
                placeholder="{{ 'subtitle.usernameoremail' | translate }}"
                [ngStyle]="{ width: 100 + '%' }"
              ></app-input>
            </div>
            <div class="mb-5">
              <app-button
                [ngStyle]="{ width: 100 + '%' }"
                text="{{ 'btn.search' | translate }}"
                (click)="searchUser()"
              ></app-button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!--cuando encuentre se envia un correo y si acepta recupera la contrsena-->
  </div>
</div>
