<div class="d-flex align-items-center justify-content-center">
  <div class="access-container justify-content-center mt-5 mb-5">
    <div class="root container" *ngIf="page == 'menu'">
      <div class="row justify-content-center">
        <img src="../../assets/full_logo.svg" alt="zenplet logo" class="logo" />
      </div>

      <div class="row text-start mt-5">
        <h5>{{ "Welcome!" | translate }}</h5>
        <p>
          {{
            "Before start using the app you need to have an account."
              | translate
          }}
        </p>
        <app-pets-found-counter> </app-pets-found-counter>
      </div>

      <div class="row mt-4 mb-4">
        <div class="mx-auto btn-group-vertical gap-3">
          <app-button
            [ngStyle]="{ width: 100 + '%' }"
            text="{{ 'Sign Up' | translate }}"
            (onClick)="signUpNav()"
          ></app-button>
          <app-button
            [ngStyle]="{ width: 100 + '%' }"
            text="{{ 'Log In' | translate }}"
            (onClick)="logInNav()"
          ></app-button>
        </div>
        <p class="text-end">
          {{ "Sign in with" | translate }} <b>Facebook</b>
          {{ "or" | translate }} <b>Google</b>
        </p>
      </div>
    </div>

    <div class="root container" *ngIf="page == 'login'">
      <div class="row justify-content-center">
        <img src="../../assets/full_logo.svg" alt="zenplet logo" class="logo" />
      </div>

      <div class="row mt-5">
        <form>
          <div class="mx-auto">
            <div class="mb-3">
              <app-input
                type="text"
                placeholder="{{ 'Username or Email' | translate }}"
                [ngStyle]="{ width: 100 + '%' }"
                #login
              ></app-input>
            </div>
            <div class="mb-5">
              <app-input
                type="password"
                placeholder="{{ 'Password' | translate }}"
                [ngStyle]="{ width: 100 + '%' }"
                aria-describedby="passwordHelp"
                #password
              ></app-input>
              <div id="passwordHelp" class="form-text text-end">
                <a class="forgot-pass" (click)="forgotNav()">{{
                  "Forgot your password?" | translate
                }}</a>
              </div>
            </div>
            <div class="mb-1">
              <app-button
                [ngStyle]="{ width: 100 + '%' }"
                text="{{ 'Log In' | translate }}"
                (onClick)="loginOwner(login.value, password.value)"
              ></app-button>
            </div>
            <p class="text-end no-account-yet">
              {{ "Don't have an account?" | translate }}
              <a (click)="signUpNav()">{{ "Sign Up" | translate }}</a>
            </p>
          </div>
        </form>
      </div>
    </div>

    <div class="root container" *ngIf="page == 'signup'">
      <div class="row justify-content-center">
        <img src="../../assets/full_logo.svg" alt="zenplet logo" class="logo" />
      </div>

      <div class="row mt-5">
        <form>
          <div class="mx-auto">
            <div class="mb-3">
              <app-input
                (input)="validateUsername(username.value)"
                type="text"
                placeholder="{{ 'Username' | translate }}"
                [ngStyle]="{ width: 100 + '%' }"
                #username
              ></app-input>
              <span class="error" *ngIf="!dataIsOk">{{
                "Enter only numbers, characters, or _. Minimum 3 characters and maximum 30"
                  | translate
              }}</span>
            </div>
            <div class="mb-3">
              <app-input
                (input)="validateEmail(email.value)"
                type="email"
                placeholder="{{ 'Email' | translate }}"
                [ngStyle]="{ width: 100 + '%' }"
                #email
              ></app-input>
              <span class="error" *ngIf="!dataIsOk">{{
                "Email is incorrect" | translate
              }}</span>
            </div>
            <div class="mb-3">
              <app-input
                (input)="validatePhone(phoneNumber.value)"
                type="tel"
                placeholder="{{ 'Phone Number (Optional)' | translate }}"
                [ngStyle]="{ width: 100 + '%' }"
                #phoneNumber
              ></app-input>
              <span class="error" *ngIf="!dataIsOk">{{
                "Enter only numbers. Minimum 4 and maximum 15" | translate
              }}</span>
            </div>
            <div class="mb-5">
              <app-input
                (input)="validatePassword(password.value)"
                type="password"
                placeholder="{{ 'Password' | translate }}"
                [ngStyle]="{ width: 100 + '%' }"
                #password
              ></app-input>
              <span class="error" *ngIf="!dataIsOk">{{
                "The password must be between 8 and 16 characters long, at least one digit, at least one lowercase and at least one uppercase"
                  | translate
              }}</span>
            </div>
            <div class="mb-1">
              <app-button
                [ngStyle]="{ width: 100 + '%' }"
                text="{{ 'Sign Up' | translate }}"
                (onClick)="
                  signup(
                    username.value,
                    email.value,
                    password.value,
                    phoneNumber.value
                  )
                "
              ></app-button>
            </div>
            <p class="text-end no-account-yet">
              {{ "Already have an account?" | translate }}
              <a (click)="logInNav()">{{ "Log In" | translate }}</a>
            </p>
          </div>
        </form>
      </div>
    </div>

    <div class="root container" *ngIf="page == 'forgot'">
      <div class="row justify-content-center">
        <img
          src="../../assets/full_logo.svg"
          alt="zenplet logo"
          class="logo mb-5"
        />
      </div>

      <div class="row mt-5">
        <form>
          <div class="mx-auto">
            <div class="mb-3">
              <app-input
                type="text"
                placeholder="{{ 'Username or Email' | translate }}"
                [ngStyle]="{ width: 100 + '%' }"
              ></app-input>
            </div>
            <div class="mb-5">
              <app-button
                [ngStyle]="{ width: 100 + '%' }"
                text="{{ 'Search' | translate }}"
                (click)="searchUser()"
              ></app-button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!--cuando encuentre se envia un correo y si acepta recupera la contrsena-->
  </div>
</div>
