<div class="container">
  <h1 class="text-center mt-2" *ngIf="card == 'pets'">
    {{ "title.mypets" | translate }}
  </h1>
  <h1 class="text-center mt-2" *ngIf="card == 'lostpets'">
    {{ "title.lostpet" | translate }}
  </h1>
  <h1 class="text-center mt-2" *ngIf="card == 'vaccines'">
    {{ "title.vaccines" | translate }}
  </h1>

  <div *ngIf="card == 'pets'">
    <div class="row row-cols-1 row-cols-md-3 g-4 m-2">
      <div *ngFor="let pet of loggedOwner.ownerPets" class="col">
        <app-pet-card [pet]="pet" (click)="selectPet(pet)"></app-pet-card>
      </div>
    </div>
  </div>
  <div *ngIf="card == 'lostpets'">
    <div class="row row-cols-1 row-cols-md-3 g-4 m-2">
      <div *ngFor="let lostPet of lostPets" class="col">
        <app-lost-pet-card
          [lostPet]="lostPet"
          (click)="printLostPet(lostPet)"
        ></app-lost-pet-card>
      </div>
    </div>
  </div>
  <div *ngIf="card == 'vaccines'">
    <div class="row row-cols-1 row-cols-md-2 g-4 m-2 row-cols-xl-3">
      <div *ngFor="let petVaccine of ownerPetsVaccines" class="col">
        <app-vaccine-card
          [petVaccine]="petVaccine"
          (click)="selectVaccine(petVaccine)"
        ></app-vaccine-card>
      </div>
    </div>
  </div>
  <app-icon-button
    (click)="newOfCurrentCard()"
    *ngIf="card !== 'lostpets'"
  ></app-icon-button>
</div>
