<div class="card mb-3 lost-card page">
  <div class="row g-0">
    <div class="col-md-12 mt-2 text-center">
      <h1>{{ lostPet.pet.petName }}</h1>
    </div>
    <div class="col-md-12 p-3">
      <img
        src="{{ lostPet.pet.petImage }}"
        class="mx-auto d-block lostPetImage"
        alt="pet-img"
      />
    </div>
    <div class="col-md-12">
      <div class="card-body">
        <ul class="list-group list-group-flush card-info text-center">
          <li class="list-group-item">
            <h2>
              <b>{{ "Info:" | translate }}</b>
            </h2>
            <p>{{ lostPet.lostPetAdditionalInfo }}</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-12">
      <div class="row description ms-5">
        <div id="map-mapbox" class="map-container" #lostMap></div>
      </div>
    </div>
  </div>
</div>

<div class="row g-0 m-3">
  <div class="col-md-6 pe-2">
    <app-button text="Back" class="buttons" (click)="back()"></app-button>
  </div>
  <div class="col-md-6 ps-3">
    <app-button
      text="Print"
      (click)="onPrintLostPet()"
      class="buttons"
    ></app-button>
  </div>
</div>
