<div class="card vaccine-card">
  <div class="card-body">
    <h5 class="card-title text-center">
      {{ petVaccine.vaccine.vaccinesName }}
    </h5>
    <ul class="list-group list-group-flush card-info">
      <li class="list-group-item">
        <b>Date:</b> {{ petVaccine.petVaccineDate }}
      </li>
      <li class="list-group-item">
        <b>Next:</b> {{ petVaccine.petVaccineNext }}
      </li>
      <li class="list-group-item">
        <b>Description:</b>
        <p>{{ petVaccine.vaccine.vaccinesDescription }}</p>
      </li>
    </ul>
  </div>
</div>
