.navbar {
  background-color: #363537;
  border-bottom: 4px solid #B9272C;
}

.dropdown-menu {
  background-color: #363537;
  border-bottom: 4px solid #B9272C;
}

.dropdown-menu a:hover {
  background-color: #363537;
  border-bottom: 2px solid #B9272C;
}

.navbar a {
  color: #EEEBD3;
}

.navbar a:hover {
  color: rgba(238, 235, 211, 0.6);
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-toggler-icon {
  background-image: 
    url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(238, 235, 211, 1)' stroke-width='2' stroke-linecap='square' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
