.pet-card {
  max-width: 500px;
  background-color: #CCC69A;
  border-radius: unset;
}

.pet-card:hover {
  border: 2px solid #363537;
}

.pet-img {
  width: 80%;
}

.card-info li {
  background-color: transparent;
}
