<div class="card mb-3 pet-card">
  <div class="row g-0">
    <div class="col-md-4 p-3">
      <img src="../../assets/full_logo.svg" class="pet-img" alt="pet-img">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title text-center">Pet Name</h5>
	<h6 class="card-subtitle text-center mb-2 text-muted">Pet Breed</h6>
	<ul class="list-group list-group-flush card-info">
	  <li class="list-group-item">
	    <b>Size:</b> Size
	  </li>
	  <li class="list-group-item">
	    <b>Genre:</b> Genre
	  </li>
	  <li class="list-group-item">
	    <b>Age:</b> Age
	  </li>
	</ul>
      </div>
    </div>
  </div>
</div>
