.edit-title {
  color: #363537;
}

form, .vaccine-description {
  font-size: 1.1rem;
  color: #363537;
}

.image {
  margin-top: 25%;
  width: 30em;
  height: 20em;
  position: relative;
  border: 2px solid #363537;
}

.image i {
  font-size: 2.5rem;
  color: #363537;
  position: absolute;
  bottom: 8px;
  right: 10px;
}

.description {
  margin-top: 25%;
}

.description textarea {
  background-color: #CCC69A;
  border: none;
  width: 25em;
  height: 10em;
}

.account-btn {
  margin-top: 25%;
}

.post-info {
  margin-top: 25%;
}
