<div class="container p-5">
  <div *ngIf="page == 'pet'">
    <div class="row">
      <div class="col col-sm-12 col-md-6">
        <h1 class="edit-title">
          <b>{{ "title.mypets" | translate }}</b>
        </h1>
        <form class="mt-5">
          <div class="mb-4">
            <label for="pet-name" class="form-label"
              ><b>{{ "subtitle.name" | translate }}</b></label
            >
            <app-input
              (input)="validateName(petName.value)"
              type="text"
              placeholder="{{ 'placeholder.petname' | translate }}"
              #petName
              value="{{ currentPet.petName }}"
            ></app-input>
            <span class="error" *ngIf="!nameEdit"
              >{{ "validate.letters" | translate }}
            </span>
          </div>
          <div class="mb-4">
            <label for="pet-name" class="form-label"
              ><b>{{ "subtitle.genre" | translate }}</b></label
            >
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="flexRadioDefault"
                id="radioMale"
                [checked]="genreSelecction.startsWith('M') || mode === 'new'"
                (change)="genreSelecction = 'Male'"
              />
              <label class="form-check-label" for="radioMale">{{
                "pet.male" | translate
              }}</label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="flexRadioDefault"
                id="radioFemale"
                [checked]="genreSelecction.startsWith('F')"
                (change)="genreSelecction = 'Female'"
              />
              <label class="form-check-label" for="radioFemale">{{
                "pet.female" | translate
              }}</label>
            </div>
          </div>
          <div class="mb-4">
            <label for="pet-name" class="form-label"
              ><b>{{ "subtitle.petsize" | translate }}</b></label
            >
            <select class="form-select combo-input" #petSize>
              <option
                *ngFor="
                  let item of ['sizeArray1'| translate,'sizeArray2'| translate,'sizeArray3'| translate,'sizeArray4'| translate,'sizeArray5'| translate]                "
                value="{{ item }}"
                [attr.selected]="item === currentPet.petSize ? true : null"
              >
                {{ item }}
              </option>
            </select>
          </div>
          <div class="mb-4">
            <label for="pet-name" class="form-label"
              ><b>{{ "subtitle.birthdate" | translate }}</b></label
            >
            <app-input
              type="date"
              placeholder="{{ 'placeholder.petbirthdate' | translate }}"
              value="{{ currentPet.petBirthdate }}"
              (input)="validatePetBirthdate(petBirthdate.value)"
              #petBirthdate
            ></app-input>
          </div>
          <div>
            <label for="pet-name" class="form-label"
              ><b>{{ "subtitle.breed" | translate }}</b></label
            >
            <app-input
              (input)="validateBreed(petBreed.value)"
              type="text"
              placeholder="{{ 'placeholder.petbreed' | translate }}"
              #petBreed
              value="{{ currentPet.petBreed }}"
            ></app-input>
            <span class="error" *ngIf="!breedEdit">{{
              "validate.letters" | translate
            }}</span>
          </div>
        </form>
      </div>
      <div class="col col-sm-12 col-md-6">
        <div class="container image mb-5">
          <img [src]="imgURL" alt="Pet Image" *ngIf="imgURL" />
        </div>
        <app-input
          type="file"
          acceptFiles=".png, .jpeg, .jpg"
          placeholder="Pet Image"
          (change)="onFileChanged($event)"
          #petImage
        ></app-input>
      </div>
    </div>

    <div class="row">
      <div class="col col-12 mt-5">
        <div
          class="btn-group gap-4 d-flex justify-content-center mt-5"
          role="group"
        >
          <app-button
            text="{{ 'btn.save' | translate }}"
            [ngStyle]="{ width: 12 + 'em' }"
            *ngIf="mode == 'edit'"
            (click)="
              editOrCreatePet(
                petName.value,
                petBreed.value,
                petSize.value,
                petBirthdate.value
              )
            "
          ></app-button>
          <app-button
            text="{{ 'btn.lost' | translate }}"
            [ngStyle]="{ width: 12 + 'em' }"
            *ngIf="mode == 'edit'"
            (click)="postLostPetNav()"
          ></app-button>
          <app-button
            text="{{ 'btn.delete' | translate }}"
            [ngStyle]="{ width: 12 + 'em' }"
            type="danger"
            *ngIf="mode == 'edit'"
            (click)="deletePet()"
          ></app-button>
          <app-button
            text="{{ 'btn.createpet' | translate }}"
            [ngStyle]="{ width: 12 + 'em' }"
            *ngIf="mode == 'new'"
            (click)="
              editOrCreatePet(
                petName.value,
                petBreed.value,
                petSize.value,
                petBirthdate.value
              )
            "
          ></app-button>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="page == 'lostpet'">
    <div class="row">
      <div class="col col-sm-12 col-md-6">
        <h1 class="edit-title">
          <b>{{ "title.lostpet" | translate }}</b>
        </h1>
        <p class="post-info">
          {{ "text.postlostpet" | translate }}
        </p>
        <b
          ><p>{{ "subtitle.aditionalinfo" | translate }}</p></b
        >
        <label for="additional" class="form-label"></label>
        <textarea
          (input)="validateAdditionalInfo(additionalInfo.value)"
          name="additional"
          class="additional-info"
          rows="8"
          cols="40"
          placeholder="{{ 'subtitle.aditionaInfo' | translate }}"
          value="{{ currentLostPet.lostPetAdditionalInfo }}"
          #additionalInfo
        ></textarea>
        <span class="error" *ngIf="!descriptionEdit"
          >{{ "validate.description" | translate }}
        </span>
      </div>
      <div class="col col-sm-12 col-md-6">
        <div class="row description ms-5">
          <div id="map-mapbox" class="map-container" #mapElement></div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col col-12 mt-5">
        <div
          class="btn-group gap-4 d-flex justify-content-center mt-5"
          role="group"
        >
          <app-button
            text="{{ 'btn.publish' | translate }}"
            [ngStyle]="{ width: 12 + 'em' }"
            *ngIf="mode == 'post'"
            (click)="postLostPet(additionalInfo.value)"
          ></app-button>
          <app-button
            text="{{ 'btn.save' | translate }}"
            [ngStyle]="{ width: 12 + 'em' }"
            *ngIf="mode == 'edit'"
            (click)="editLostPet(additionalInfo.value)"
          ></app-button>
          <app-button
            text="{{ 'btn.found' | translate }}"
            [ngStyle]="{ width: 12 + 'em' }"
            *ngIf="mode == 'edit'"
            (click)="petFound()"
          ></app-button>
          <app-button
            text="{{ 'btn.printlostpet' | translate }}"
            [ngStyle]="{ width: 12 + 'em' }"
            *ngIf="mode == 'edit'"
            (click)="printLostPetNav()"
          ></app-button>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="page == 'vaccine'">
    <div class="row">
      <div class="col col-sm-12 col-md-6">
        <h1 class="edit-title">
          <b>{{ "title.vaccines" | translate }}</b>
        </h1>
        <form class="mt-5">
          <div class="mb-4">
            <label class="form-label"
              ><b>{{ "subtitle.name" | translate }}</b></label
            >
            <app-input
              (input)="validateName(vaccineName.value)"
              type="text"
              placeholder="{{ 'placeholder.vaccinename' | translate }}"
              value="{{ currentVaccine.vaccine.vaccinesName }}"
              #vaccineName
            ></app-input>
            <span class="error" *ngIf="!nameEdit">{{
              "validate.letters" | translate
            }}</span>
          </div>
          <div class="mb-4">
            <label class="form-label"
              ><b>{{ "subtitle.date" | translate }}</b></label
            >
            <app-input
              type="date"
              value="{{ currentVaccine.petVaccineDate }}"
              (input)="validatePetVaccineDate(vaccineDate.value)"
              #vaccineDate
            ></app-input>
          </div>
          <div class="mb-4">
            <label class="form-label"
              ><b>{{ "subtitle.next" | translate }}</b></label
            >
            <app-input
              type="date"
              value="{{ currentVaccine.petVaccineNext }}"
              (input)="validatePetVaccineDate(vaccineNext.value)"
              #vaccineNext
            ></app-input>
          </div>
          <div class="mb-4">
            <label class="form-label">
              <b>{{ "subtitle.vaccinefor" | translate }}</b>
            </label>
            <div *ngIf="mode === 'edit'">
              {{ selectedPetNameOfCombo }}
            </div>
            <select
              *ngIf="mode === 'new'"
              class="form-select combo-input"
              #selectedPetId
              (change)="petIdForVaccine = selectedPetId.value"
            >
              <option
                selected
                *ngIf="loggedOwner.ownerPets.length > 0; else elseBlock"
              >
                {{ "text.selectpetv" | translate }}
              </option>
              <ng-template #elseBlock>
                <option selected>
                  {{ "text.nopetsv" | translate }}
                </option>
              </ng-template>
              <option
                *ngFor="let pet of loggedOwner.ownerPets"
                value="{{ pet.petId }}"
              >
                {{ pet.petName }}
              </option>
            </select>
          </div>
        </form>
      </div>
      <div class="col col-sm-12 col-md-6">
        <div class="row description ms-5">
          <label for="vaccine-description" class="form-label"
            ><b>{{ "subtitle.description" | translate }}</b></label
          >
          <textarea
            (input)="validateAdditionalInfo(vaccineDescription.value)"
            class="mb-4"
            name="vaccine-description"
            rows="8"
            cols="40"
            placeholder="{{ 'placeholder.description' | translate }}"
            #vaccineDescription
            value="{{ currentVaccine.vaccine.vaccinesDescription }}"
          ></textarea>
          <span class="error" *ngIf="!descriptionEdit">{{
            "validate.description" | translate
          }}</span>
        </div>
      </div>

      <div class="row">
        <div class="col col-12 mt-5">
          <div
            class="btn-group gap-4 d-flex justify-content-center mt-5"
            role="group"
          >
            <app-button
              text="{{ 'btn.save' | translate }}"
              [ngStyle]="{ width: 12 + 'em' }"
              *ngIf="mode == 'edit'"
              (click)="
                editOrCreateVaccine(
                  vaccineName.value,
                  vaccineDate.value,
                  vaccineNext.value,
                  vaccineDescription.value
                )
              "
            ></app-button>
            <app-button
              text="{{ 'btn.delete' | translate }}"
              [ngStyle]="{ width: 12 + 'em' }"
              type="danger"
              *ngIf="mode == 'edit'"
              (click)="deleteVaccine()"
            ></app-button>
            <app-button
              text="{{ 'btn.createvaccine' | translate }}"
              [ngStyle]="{ width: 12 + 'em' }"
              *ngIf="mode == 'new'"
              (click)="
                editOrCreateVaccine(
                  vaccineName.value,
                  vaccineDate.value,
                  vaccineNext.value,
                  vaccineDescription.value
                )
              "
            ></app-button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="page == 'account'">
    <div class="row">
      <div class="col col-sm-12 col-md-6">
        <h1 class="edit-title">
          <b>{{ "title.accountsettings" | translate }}</b>
        </h1>
        <form class="mt-5">
          <div class="mb-4">
            <label for="username" class="form-label"
              ><b>{{ "subtitle.username" | translate }}</b></label
            >
            <app-input
              (input)="validateUsername(username.value)"
              type="text"
              placeholder="{{ 'placeholder.username' | translate }}"
              value="{{ loggedOwner.ownerName }}"
              #username
            ></app-input>
            <span class="error" *ngIf="!usernameEdit">{{
              "validate.username" | translate
            }}</span>
          </div>
          <div class="mb-4">
            <label for="email" class="form-label"
              ><b>{{ "subtitle.email" | translate }}</b></label
            >
            <app-input
              (input)="validateEmail(email.value)"
              type="email"
              placeholder="{{ 'placeholder.email' | translate }}"
              value="{{ loggedOwner.ownerEmail }}"
              #email
            ></app-input>
            <span class="error" *ngIf="!emailEdit">{{
              "text.emailincorrect" | translate
            }}</span>
          </div>
          <div class="mb-4">
            <label for="phonenumber" class="form-label"
              ><b>{{ "subtitle.phone" | translate }}</b></label
            >
            <app-input
              (input)="validatePhone(phoneNumber.value)"
              type="tel"
              placeholder="{{ 'placeholder.phone' | translate }}"
              value="{{ loggedOwner.ownerPhoneNumber }}"
              #phoneNumber
            ></app-input>
            <span class="error" *ngIf="!phoneEdit">{{
              "validate.numbers" | translate
            }}</span>
          </div>
        </form>
      </div>
      <div class="col col-sm-12 col-md-6 ps-5">
        <div class="row ms-5 account-btn">
          <div
            class="btn-group-vertical ms-5 gap-4 d-flex justify-content-center mt-5"
            role="group"
          >
            <app-button
              text="{{ 'btn.save' | translate }}"
              [ngStyle]="{ width: 12 + 'em' }"
              *ngIf="mode == 'edit'"
              (onClick)="
                saveChanges(username.value, email.value, phoneNumber.value)
              "
            ></app-button>
            <app-button
              text="{{ 'btn.changepassword' | translate }}"
              [ngStyle]="{ width: 12 + 'em' }"
              *ngIf="mode == 'edit'"
              (onClick)="changePasswordNav()"
            ></app-button>
            <app-button
              text="{{ 'btn.delete' | translate }}"
              [ngStyle]="{ width: 12 + 'em' }"
              type="danger"
              *ngIf="mode == 'edit'"
              (onClick)="deleteAccount()"
            ></app-button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="page == 'password'">
    <div class="row">
      <div class="col col-sm-12 col-md-6">
        <h1 class="edit-title">
          <b>{{ "title.accountsettings" | translate }}</b>
        </h1>
        <form class="mt-5">
          <div class="mb-4">
            <label for="username" class="form-label"
              ><b>{{ "subtitle.oldpassword" | translate }}</b></label
            >
            <app-input
              (input)="validateOldPassword(oldPassword.value)"
              type="password"
              placeholder="{{ 'placeholder.newpassword' | translate }}"
              #oldPassword
            ></app-input>
            <span class="error" *ngIf="!oldpasswordEdit"
              >{{ "validate.password" | translate }}
            </span>
          </div>
          <div class="mb-4">
            <label for="username" class="form-label"
              ><b>{{ "subtitle.newpassword" | translate }}</b></label
            >
            <app-input
              (input)="validateNewPassword(newPassword.value)"
              type="password"
              placeholder="{{ 'placeholder.newpassword' | translate }}"
              #newPassword
            ></app-input>
            <span class="error" *ngIf="!newpasswordEdit"
              >{{ "validate.password" | translate }}
            </span>
          </div>
          <div class="mb-4">
            <label for="username" class="form-label"
              ><b>{{ "subtitle.repeatpassword" | translate }}</b></label
            >
            <app-input
              (input)="validateRepeatPassword(repeatPassword.value)"
              type="password"
              placeholder="{{ 'placeholder.repeatpassword' | translate }}"
              #repeatPassword
            ></app-input>
            <span class="error" *ngIf="!repeatpasswordEdit"
              >{{ "validate.password" | translate }}
            </span>
          </div>
        </form>
      </div>
      <div class="col col-sm-12 col-md-6 ps-5">
        <div class="row ms-5 account-btn">
          <div
            class="btn-group-vertical ms-5 gap-4 d-flex justify-content-center mt-5"
            role="group"
          >
            <app-button
              text="{{ 'btn.changepassword' | translate }}"
              [ngStyle]="{ width: 12 + 'em' }"
              *ngIf="mode == 'new'"
              (onClick)="
                changePassword(
                  oldPassword.value,
                  newPassword.value,
                  repeatPassword.value
                )
              "
            ></app-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
