.edit-title {
  color: #363537;
}

form, .vaccine-description {
  font-size: 1.1rem;
  color: #363537;
}

.image {
  margin-top: 25%;
  width: 20em;
  height: 17em;
  border: 2px solid #363537;
}

.image img {
  width: 100%;
  height: 100%;
}

.description {
  margin-top: 25%;
}

.description textarea {
  background-color: #CCC69A;
  border: none;
  width: 25em;
  height: 15em;
}

.account-btn {
  margin-top: 25%;
}

.post-info {
  margin-top: 25%;
}

.list-pets {
  border-radius: 0;
  border: 1px solid #363537;
}

.list-pets li {
  background-color: transparent;
}

.combo-pets {
  color: #363537;
  border: none;
  border-bottom: 2px solid #363537;
  background-color: transparent;
}
